# master s3 config
X_MASTER_S3_CONFIG

# standard config
X_TEMPLATE_PORT=
X_TEMPLATE_HOST=

# application level configuration
X_TEMPLATE_AWS_S3_KEY_ID=
X_TEMPLATE_AWS_S3_SECRET_ACCESS_KEY=
X_TEMPLATE_AWS_S3_REGION=
X_TEMPLATE_AWS_S3_BUCKET=
X_TEMPLATE_UPLOAD_DIR=

# build
# only needed for pushing it docker hub, quay.io, etc
X_DOCKER_USERNAME=
X_DOCKER_PASSWORD=
X_DOCKER_REPO=
X_SLACK_WEB_HOOK=http://example.com

# update-doc
# optional. set this only if you want to do generate api & test report
X_S3_TEST_REPORT_BUCKET_URL=s3://bucket-name/folder/without-trailing-slash
X_S3_TEST_REPORT_ACCESS_KEY_ID=
X_S3_TEST_REPORT_SECRET_ACCESS_KEY=

# docker, docker-production
# only needed for AWS EC Registry
X_AWS_ECR_ACCESS_KEY_ID=
X_AWS_ECR_SECRET_ACCESS_KEY=
X_AWS_ECR_REGION=
X_AWS_ECR_REGISTRY_ID=

# k8s-deploy
X_DEPLOY_IMAGE_TAG=
X_DEPLOY_IMAGE_PULL_SECRET=
X_DEPLOY_SERVICE_PORT=
X_DEPLOY_IMAGE_REPO=
# DEPLOY_IMAGE_REPO is necessary if DOCKER_USERNAME and DOCKER_REPO are not provided

# optional. set this only if you want to do deployment to kubernetes
X_KUBERNETES_MASTER=https://example.com
X_S3_ACCESS_KEY_FOR_KUBERNETES=
X_S3_SECRET_KEY_FOR_KUBERNETES=
X_S3_BUCKET_FOR_KUBERNETES=bucket-name
X_S3_REGION_FOR_KUBERNETES=
